/* Importing Google Font*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');


/*
        --Primary-BG: #181818;
        --Primary-Grid-BG: rgba(51, 51, 51, 0.85);
        --Primary-IconGrid-BG: #2b2b2b;
        --Primary-Text: #d1d1d1;
        --Primary-Text-light: #ddd;
        --Secondary-Text: #c1c1c1;
        --Primary-Card: #2b2b2b;
        --buff: rgba(86, 167, 39, .7);
        --nerf: rgba(172, 31, 31, .7);
        --stats: rgba(0, 0, 0, .6);
        --removed: rgba(190, 92, 0, .6);
        --added: rgba(31, 52, 172, .7);
        --Link: #fff;
        --Link-Card: #000;
        --Link-Unvisited: #b38b03;
        --Link-Visited: #c16013;
        --Link-Hover: #d9c415;
        --Strike: #a5a5a5;
        --Footer: #1c1c1c;
*/

/* Declaring Default Colors */

:root{
    /* Color Scheme */
    color-scheme: light dark;

    /* Background Colors */
        --Background: light-dark(#666,#222931);
        --White-Background: light-dark(#fff,#EEE);
        --Accent-Background: light-dark(#333,#393E46);
        --Accent-Color: light-dark(#fff,#FD7014);
        --Grid-Background: light-dark(rgba(51,51,51,0.85),rgba(51, 51, 51, 0.85));
        --IconGrid-Background: light-dark(#4d5c50,#2b2b2b);
    
    /* Text Colors*/
        --Text: light-dark(#000,#d1d1d1);
    
    /* Card Colors*/
        --Card: light-dark(#000,#2b2b2b);

    /* Changes Colors*/
        --Buffs: light-dark(rgba(86,167,39,.7),rgba(86,167,39,.7));
        --Nerfs: light-dark(rgba(172,31,31,.7),rgba(172,31,31,.7));
        --Removed: light-dark(rgba(190,92,0,.6),rgba(190,92,0,.6));
        --Added: light-dark(rgba(31,52,172,.7),rgba(31,52,172,.7));
        --Stats: light-dark(rgba(0,0,0,.6),rgba(0,0,0,.6));
    
    /* Link Colors*/
        --Link: light-dark(#fff,#000);
        --Link-Card: light-dark(#000,#fff);
        --Link-Unvisited: light-dark(#87cefa,#87cefa);
        --Link-Visited: light-dark(#dc143c,#dc143c);
        --Link-Hover: light-dark(#c2a732,#c2a732);
    
    /* Other Colors*/
        --Strike: light-dark(#888,#fff);
        --Footer: light-dark(#666,#1c1c1c);
        --HR: light-dark(#444,#555);
}

/* Base Elemets */

body {
    background: var(--Background);
    font-family: sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: var(--Text);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {font-size: 30px;}
h2 {font-size: 25px;}
h3 {font-size: 20px;}

hr {color: var(--HR);}

s{
    color: var(--Strike);
}

img {
    vertical-align: middle;
    width: 60px;
    height: 60px;
}

a {
    color: var(--Link-Unvisited);
    text-decoration: none;
}
a:visited {
    color: var(--Link-Visited);
}
a:hover {
    color: var(--Link-Hover);
}
a:active {
    color: var(--Link-Active);
}

video {
    width: 900px;
    height: 100%;
}